@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* font-family: "Josefin Sans", sans-serif;*/

@import url("./reset.css");


:root {
  /* dark mode them */
  --primary: hsl(235, 21%, 11%);
  --secondary: hsl(235, 24%, 19%);
  --text-color: hsl(234, 39%, 85%);
  --text-color-light: hsl(236, 33%, 92%);
  --gray-light: hsl(234, 11%, 52%);
  --gray-dark: hsl(233, 14%, 35%);
  --gray-darker: hsl(237, 14%, 26%);
  --bright-blue: hsl(220, 98%, 61%);
}


main {
  font-family: "Josefin Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.8rem;
}

.title-sun-container {
  margin-top: 1.5rem;
  padding: 0 6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color-light);

}

.title {
  font-size: 1.7rem;
  letter-spacing: 0.6rem;
  font-weight: 700;
  margin-right: 5rem;
}

/*this centers the sun with the text*/
.sun-img-container {
  height: 1.75rem;

}

.sun-img-container img {
  object-fit: cover;
  width: 1.125rem;

}

.input-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  padding: 0.75rem;
  border: none;
  border-radius: 0.2rem;
  box-sizing: border-box;

}

.input-todo {
  background-color: var(--secondary);
  border: none;
  font-size: 0.8rem;
  box-sizing: border-box;
  color: var(--text-color-light);
}



.input-todo:focus {
  outline: none;
}

.check-img-container {
  margin-bottom: 0.1rem;
  padding: 0.2rem;
  border-radius: 100%;
  border: 1px solid var(--gray-light);
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 0.5rem;
  background-color: var(--secondary);
}

.check-img-container:hover {
  cursor: pointer;
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}



.empty-img {
  visibility: hidden;
}

.check-img-container:hover .empty-img {
  visibility: visible;
}


/*bottom part*/



.bottom-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*taken from header*/
  padding: 0 1.8rem 1.8rem 1.8rem;
  font-size: 0.8rem;
  color: var(--text-color);
}

.foot-of-todos {
  background-color: var(--secondary);
  border-radius: 0 0 0.2rem 0.2rem;

  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.items-left {
  margin-right: 1.2rem;
}

.filter-section {
  background-color: var(--secondary);

  border-radius: 0.2rem;

  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.option {
  margin-left: 0.35rem;
  margin-right: 0.35rem;
  background: none;
  border: none;
  padding: none;
  color: var(--text-color);
}

.option:hover,
.clear-completed:hover {
  cursor: pointer;
  color: var(--text-color-light);
}

.all-option {
  color: var(--bright-blue);
}